flows.json
[
    {
        "id": "a1e4e922bcf147a4",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f0d21fc59782555",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "multiplayer",
                "value": "true",
                "type": "bool"
            }
        ]
    },
    {
        "id": "95f13ee682ea304b",
        "type": "ui_group",
        "name": "SignIn",
        "tab": "e45692bb3249486c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "523c0f67870ab58f",
        "type": "ui_group",
        "name": "SignUp",
        "tab": "e45692bb3249486c",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "412e7029b72dd724",
        "type": "ui_group",
        "name": "Default",
        "tab": "ffc5cccd0966e57a",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e45692bb3249486c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ffc5cccd0966e57a",
        "type": "ui_tab",
        "name": "About us",
        "icon": "",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0b6763c30612f66e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ac1a9d03896c3410",
        "type": "firebase admin",
        "name": ""
    },
    {
        "id": "8e15599bbf75e108",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "90",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "990e756ac06b7596",
        "type": "inject",
        "z": "a1e4e922bcf147a4",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "886329ad738c4bc6"
            ]
        ]
    },
    {
        "id": "886329ad738c4bc6",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "Initial UI",
        "func": "msg.payload = {group: {\n    hide: [\"Dashboard_SignUp\"],\n    show: [\"Dashboard_SignIn\"]\n}};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "53ff0d3e68d0f7a4"
            ]
        ]
    },
    {
        "id": "53ff0d3e68d0f7a4",
        "type": "ui_ui_control",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "events": "all",
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "25202cc49fd31e85",
        "type": "ui_form",
        "z": "a1e4e922bcf147a4",
        "name": "SignIn",
        "label": "",
        "group": "95f13ee682ea304b",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "61233a0a61a78b8f",
                "2a155f07549cf735"
            ]
        ]
    },
    {
        "id": "1c60a6be8ce783b4",
        "type": "switch",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 280,
        "wires": [
            [
                "8b47147387bae393"
            ],
            [
                "935d3c0bc541421c"
            ]
        ]
    },
    {
        "id": "8b47147387bae393",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "= 0: Fail",
        "func": "msg.payload = \"Invalid username or password, please try again.\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "402e6e8d6f2eef02"
            ]
        ]
    },
    {
        "id": "935d3c0bc541421c",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "=1: Success",
        "func": "msg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \n            \"Dashboard_History\", \n            \"Dashboard_Logout\", \n            \"Dashboard_SmartSwitch\",\n            \"Dashboard_Admin\"],\n    hide : [\"Dashboard_SignIn\"]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "fda01bbc90539cd2"
            ]
        ]
    },
    {
        "id": "fda01bbc90539cd2",
        "type": "ui_ui_control",
        "z": "a1e4e922bcf147a4",
        "name": "Go to function group",
        "events": "all",
        "x": 1440,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "402e6e8d6f2eef02",
        "type": "ui_toast",
        "z": "a1e4e922bcf147a4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Authentication Failure Dialog",
        "x": 1420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "61233a0a61a78b8f",
        "type": "debug",
        "z": "a1e4e922bcf147a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "72ade83d4438650a",
        "type": "ui_button",
        "z": "a1e4e922bcf147a4",
        "name": "Sign Up",
        "group": "95f13ee682ea304b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "#A6BBCF",
        "bgcolor": "#FFFFFF",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Dashboard_SignIn\"],\"show\":[\"Dashboard_SignUp\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "869385885c5721c5"
            ]
        ]
    },
    {
        "id": "869385885c5721c5",
        "type": "ui_ui_control",
        "z": "a1e4e922bcf147a4",
        "name": "Go to SignUp",
        "events": "all",
        "x": 320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "049414ada7ba4c07",
        "type": "ui_form",
        "z": "a1e4e922bcf147a4",
        "name": "SignUp",
        "label": "",
        "group": "523c0f67870ab58f",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "aea91ff72f87021e"
            ]
        ]
    },
    {
        "id": "880bb394151fe87b",
        "type": "ui_text",
        "z": "a1e4e922bcf147a4",
        "group": "95f13ee682ea304b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SIGN IN",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
        "fontSize": "22",
        "color": "#000000",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa91137e0a213a87",
        "type": "ui_button",
        "z": "a1e4e922bcf147a4",
        "name": "Sign In",
        "group": "523c0f67870ab58f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign In",
        "tooltip": "",
        "color": "#A6BBCF",
        "bgcolor": "#FFFFFF",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Dashboard_SignUp\"],\"show\":[\"Dashboard_SignIn\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "e88f23c43fb3cb2d"
            ]
        ]
    },
    {
        "id": "e88f23c43fb3cb2d",
        "type": "ui_ui_control",
        "z": "a1e4e922bcf147a4",
        "name": "Go to SignIn",
        "events": "all",
        "x": 330,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d8f8f2cd586bc2a8",
        "type": "ui_text",
        "z": "a1e4e922bcf147a4",
        "group": "523c0f67870ab58f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SIGN UP",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
        "fontSize": "22",
        "color": "#000000",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "78c3413708a31322",
        "type": "comment",
        "z": "a1e4e922bcf147a4",
        "name": "Sign-Up Section",
        "info": "",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "fa6f162e27d43f12",
        "type": "comment",
        "z": "a1e4e922bcf147a4",
        "name": "Sign-In Section",
        "info": "",
        "x": 160,
        "y": 180,
        "wires": []
    },
    {
        "id": "32fd924e27d20112",
        "type": "ui_template",
        "z": "a1e4e922bcf147a4",
        "group": "412e7029b72dd724",
        "name": "Aboutus",
        "order": 0,
        "width": "18",
        "height": "12",
        "format": "<div style=\"text-align: center; font-family: Arial, sans-serif;\">\n    <h4 style=\"font-style: italic; color: #3366cc;\">Môn học: Vật lý cho công nghệ thông tin</h4>\n    <h1 style=\"color: #3366cc;\">Bộ công cụ tự động hóa quá trình<br>chăm sóc vườn tích hợp sản xuất phân bón</h1>\n    <br>\n    <div style=\"text-align: center;\">\n        <h3>Thành viên:</h3>\n        <p>Đỗ Đình Hải – 22127095<br>Bế Lã Anh Thư – 22127402</p>\n    </div>\n    <br>\n    <h3>Lớp: 22CLC02</h3>\n    <br>\n    <div style=\"text-align: center;\">\n        <h3>Giảng viên:</h3>\n        <p>Cao Xuân Nam<br>Đặng Hoài Thương</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ccc3e3fb6e25d9fd",
        "type": "comment",
        "z": "a1e4e922bcf147a4",
        "name": "Tab about us",
        "info": "",
        "x": 150,
        "y": 860,
        "wires": []
    },
    {
        "id": "3f1756f15584103b",
        "type": "Firestore out",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "collection": "Users",
        "document": "",
        "operation": "add",
        "admin": "ac1a9d03896c3410",
        "eject": false,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "f7bd0a51f806352a",
                "328bf5a5a9b180c8"
            ]
        ]
    },
    {
        "id": "f7bd0a51f806352a",
        "type": "debug",
        "z": "a1e4e922bcf147a4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 520,
        "wires": []
    },
    {
        "id": "0c32787061a85188",
        "type": "ui_toast",
        "z": "a1e4e922bcf147a4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Register success",
        "x": 1710,
        "y": 580,
        "wires": []
    },
    {
        "id": "328bf5a5a9b180c8",
        "type": "change",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sign up successfully. Please sign in!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 580,
        "wires": [
            [
                "0c32787061a85188"
            ]
        ]
    },
    {
        "id": "696d1bd339eaf41d",
        "type": "Firestore in",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "collection": "Users",
        "group": false,
        "document": "",
        "realtime": false,
        "query": [],
        "admin": "ac1a9d03896c3410",
        "snapHandler": "",
        "eject": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "971772e5099e9a70",
                "0da73507a3bee224"
            ]
        ]
    },
    {
        "id": "971772e5099e9a70",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "function 2",
        "func": "let data = msg.payload;\ndata = JSON.stringify(data);\nif(data === undefined || data === \"{}\"){\n    msg.payload = 0;\n}\nelse{\n    msg.payload = 1;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            [
                "1c60a6be8ce783b4"
            ]
        ]
    },
    {
        "id": "0da73507a3bee224",
        "type": "debug",
        "z": "a1e4e922bcf147a4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a155f07549cf735",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "function 4",
        "func": "msg.firestore = {\n    query: [\n        { where: [\"username\", \"==\", msg.payload.username] },\n        { where: [\"password\", \"==\", msg.payload.password] }\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "696d1bd339eaf41d"
            ]
        ]
    },
    {
        "id": "1112097410156052",
        "type": "Firestore in",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "collection": "Users",
        "group": false,
        "document": "",
        "realtime": false,
        "query": [],
        "admin": "ac1a9d03896c3410",
        "snapHandler": "",
        "eject": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "b22fe9a706ff246a"
            ]
        ]
    },
    {
        "id": "aea91ff72f87021e",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "function 5",
        "func": "msg.firestore = {\n    query: [\n        { where: [\"username\", \"==\", msg.payload.username] },\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "1112097410156052"
            ]
        ]
    },
    {
        "id": "b22fe9a706ff246a",
        "type": "switch",
        "z": "a1e4e922bcf147a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 540,
        "wires": [
            [
                "140a4bbced46175c"
            ],
            [
                "3f1756f15584103b"
            ]
        ]
    },
    {
        "id": "8fc6db0f7ce97a54",
        "type": "ui_toast",
        "z": "a1e4e922bcf147a4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Register failed",
        "x": 1400,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "140a4bbced46175c",
        "type": "function",
        "z": "a1e4e922bcf147a4",
        "name": "function 6",
        "func": "msg.payload = \"Username exists\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "8fc6db0f7ce97a54"
            ]
        ]
    }
]